#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d607fd9-9ea1-4aad-9210-05da46ede497 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}