#s-61e5506e-e1e0-4641-ae47-34154da6c52e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Dynamic_Panel_1 {
  position: absolute;
  top: 255px;
  left: 363px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Panel_1 {
  width: 291px;
  height: 204px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  overflow: hidden;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Panel_1 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_5 {
  position: absolute;
  top: 47px;
  left: 24px;
  padding-left: 7px;
  width: 205px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_2 {
  position: absolute;
  top: 83px;
  left: 24px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_2 span#rtr-s-Label_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_6 {
  position: absolute;
  top: 111px;
  left: 24px;
  padding-left: 7px;
  width: 205px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_7 {
  position: absolute;
  top: 160px;
  left: 24px;
  width: 77px;
  height: 23px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_8 {
  position: absolute;
  top: 160px;
  left: 121px;
  width: 60px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Text_2 {
  position: absolute;
  top: 18px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1046px;
  height: 39px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_59 {
  position: absolute;
  top: 205px;
  left: 362px;
  width: 288px;
  height: 39px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_59 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_59 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e #s-Label_59 span#rtr-s-Label_59_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-61e5506e-e1e0-4641-ae47-34154da6c52e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}