#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_62 {
  position: absolute;
  top: 32px;
  left: 41px;
  width: 645px;
  height: 38px;
  background-color: #D9534F;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_62 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Table_2 {
  position: absolute;
  top: 242px;
  left: 41px;
  width: 585px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_17 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 70px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 90px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_25 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 224px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_29 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 151px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 71px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 91px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_26 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 225px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_30 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 153px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 71px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 91px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_27 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 225px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_31 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 153px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_20 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 71px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 91px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_28 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 225px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_32 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 153px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Input_7 {
  position: absolute;
  top: 196px;
  left: 41px;
  padding-left: 14px;
  width: 154px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_1 {
  position: absolute;
  top: 278px;
  left: 630px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_2 {
  position: absolute;
  top: 312px;
  left: 630px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_3 {
  position: absolute;
  top: 347px;
  left: 630px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 114px;
  left: 41px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Panel_2 {
  width: 509px;
  height: 40px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_2 {
  padding-right: 20px;
  padding-left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_2 span {
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #E7E7E7;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_29 span {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_30 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_30 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_32 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_32 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_1 {
  position: absolute;
  top: 106px;
  left: 565px;
  width: 244px;
  height: 103px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_1 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a5fb33f-d913-4103-8219-7eb2c75d8351 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}