#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a6a69a7-862d-4f55-8285-30b45821d347 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}