#s-bf577675-1f10-43cb-ac97-84d572d5e489 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf577675-1f10-43cb-ac97-84d572d5e489 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf577675-1f10-43cb-ac97-84d572d5e489 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf577675-1f10-43cb-ac97-84d572d5e489 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf577675-1f10-43cb-ac97-84d572d5e489 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}