#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 191px;
  height: 39px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Table_2 {
  border-collapse: separate;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 1046px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}