#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}