#s-d97b7398-eea5-45fa-a1d4-f245316bad59 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 {
  position: absolute;
  top: 57px;
  left: 325px;
  width: 25px;
  height: 128px;
  background-color: #FFFFFF;
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Group_5 {
  position: absolute;
  top: 88px;
  left: 38px;
  width: 949px;
  height: 296px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 37px;
  left: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Panel_3 {
  width: 947px;
  height: 257px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 191px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Table_2 {
  position: absolute;
  top: 74px;
  left: 16px;
  width: 893px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_21 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_25 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_29 {
  padding-left: 12px;
  width: 103px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_33 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_37 {
  padding-left: 12px;
  width: 163px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_41 {
  padding-left: 12px;
  width: 166px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_22 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_26 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_30 {
  padding-left: 12px;
  width: 103px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_34 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_38 {
  padding-left: 12px;
  width: 163px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_42 {
  padding-left: 12px;
  width: 166px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_23 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_27 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_31 {
  padding-left: 12px;
  width: 103px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_35 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_39 {
  padding-left: 12px;
  width: 163px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_43 {
  padding-left: 12px;
  width: 166px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_24 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_28 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_32 {
  padding-left: 12px;
  width: 103px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_36 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_40 {
  padding-left: 12px;
  width: 163px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_44 {
  padding-left: 12px;
  width: 166px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 {
  position: absolute;
  top: 42px;
  left: 255px;
  width: 121px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Category_2 {
  position: absolute;
  top: 42px;
  left: 375px;
  width: 64px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Category_2 .valign {
  width: 46px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 {
  position: absolute;
  top: 42px;
  left: 457px;
  width: 136px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Category_5 {
  position: absolute;
  top: 42px;
  left: 599px;
  width: 64px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Category_5 .valign {
  width: 46px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_1 {
  position: absolute;
  top: 13px;
  left: 360px;
  padding-left: 5px;
  width: 72px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_1 .icon {
  top: 2px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 {
  position: absolute;
  top: 13px;
  left: 255px;
  width: 104px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_2 {
  position: absolute;
  top: 13px;
  left: 584px;
  padding-left: 5px;
  width: 72px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Input_2 .icon {
  top: 2px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 {
  position: absolute;
  top: 13px;
  left: 457px;
  width: 125px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 933px;
  height: 37px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1046px;
  height: 39px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d97b7398-eea5-45fa-a1d4-f245316bad59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}