#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}