#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Rectangle_3 {
  position: absolute;
  top: 57px;
  left: 325px;
  width: 25px;
  height: 128px;
  background-color: #FFFFFF;
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Group_5 {
  position: absolute;
  top: 57px;
  left: 38px;
  width: 949px;
  height: 296px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Dynamic_Panel_3 {
  position: absolute;
  top: 37px;
  left: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Panel_3 {
  width: 947px;
  height: 257px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Button_1 {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 191px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Table_2 {
  position: absolute;
  top: 93px;
  left: 182px;
  width: 583px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_21 {
  padding-left: 12px;
  width: 148px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_25 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_29 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_33 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: #6BCDFD;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_22 {
  padding-left: 12px;
  width: 148px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_26 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_30 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_34 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_23 {
  padding-left: 12px;
  width: 148px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_27 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_31 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_35 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_1 {
  padding-left: 12px;
  width: 148px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_2 {
  padding-left: 12px;
  width: 158px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_3 {
  padding-left: 12px;
  width: 111px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_4 {
  padding-left: 12px;
  width: 113px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_1 {
  position: absolute;
  top: 29px;
  left: 362px;
  padding-left: 5px;
  width: 72px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_1 .icon {
  top: 2px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_2 {
  position: absolute;
  top: 29px;
  left: 253px;
  width: 103px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_2 {
  position: absolute;
  top: 29px;
  left: 582px;
  padding-left: 5px;
  width: 72px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Input_2 .icon {
  top: 2px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_5 {
  position: absolute;
  top: 29px;
  left: 462px;
  width: 121px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 933px;
  height: 37px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1046px;
  height: 39px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Label_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Label_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f0d4be4f-b2c4-4d0d-ad89-964f968451da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}